%h1= title "Apps"

- if @user.keys.empty?
  %p.alert.alert-warning
    You need to
    = link_to "upload a key", edit_user_path(current_user, anchor: "keys-pane")
    to be able to upload apps.
- else
  = render partial: "apps/form", locals: {user: @user, app: @app}
  - if @user.apps.empty?
    %p.alert.alert-info You have no apps, upload some above.
  - else
    - @user.apps.each do |app|
      = render app
