%h1= title "Apps"

- if @user.keys.empty?
  %p.alert.alert-warning
    You need to
    = link_to "upload a key", edit_user_path(current_user, anchor: "keys-pane")
    to be able to upload apps.
- else
  = render partial: "apps/form", locals: {user: @user, app: @app}
  - if @user.apps.empty?
    %p.alert.alert-info You have no apps, upload some above.
  - else
    .apps
      - @apps.each do |app|
        = render app

-# TODO make sure this is anywhere we are doing ajaxy app stuff
- content_for :javascript_declarations do
  :plain
    var refreshApp = function(app_id) {
      $this = $("#app-" + app_id);
      $this.load("/apps/" + app_id + "/mini");
      // TODO (remove comment) this is to stop image flickering once app is finished
      // TODO stop this one tick sooner (still refreshes once when unnecessary)
      if ($this.find(".progress-success").length > 0) setTimeout("refreshApp(" + app_id + ")", 5000);
    }
