- flash.each do |type, message|
  - alertclass = "alert-" + bootstrap_flash(type)
  .alert.fade.in{class: alertclass, 'data-alert' => "alert"}
    %a.close{href: "#", 'data-dismiss' => "alert"} &times;
    = message
