*.sw[nop]
*.*~
.DS_Store

# Ignore files uploaded via Paperclip
web/public/system

# Ignore settings file (sensitive info, API keys, etc.)
web/config/settings

# Ignore bundler config
web/.bundle

# Ignore the default SQLite database.
web/db/*.sqlite3
web/db/schema.rb

# Ignore all logfiles and tempfiles.
web/log/*.log
web/tmp

# Ignore compiled binaries
a.out
trust

# Ignores generated test files
data/test[1-3].in
