-# TODO handle when they update their email (not "Welcome...")
%h1= "Welcome to goodapp.com, #{@resource.name}!"

%p You can confirm your account email through the link below:

%p= link_to "Confirm my account", confirmation_url(@resource, confirmation_token: @resource.confirmation_token)
