= title 'Frequently Asked Questions'

%dl
  .faq
    %dt What is GoodApp?
    %dd GoodApp is a web application that creates a community for Mobile Smartphone Application users and developers. This community establishes a web of trust between its members, where developers are assigned a rating based on their activity in this trust network. These ratings give users valuable information about which developers have an established and trusted reputation in the community, and which developers should be avoided. GoodApp focuses on the Applications present in all mainstream app stores: Apple Store, Google Play, and Windows Market.
  .faq
    %dt What about this?
    %dd What about it?
