.row-fluid
  .span8
    - unless user_signed_in?
      #welcome-box.alert.alert-success
        %p.pull-right
          Don't have an account?
          = link_to "Register", new_user_registration_path, class: "btn btn-large btn-primary"
        %h2 Welcome to GoodApp
    #promo-box.clear
      -# TODO
      TODO Port promo box over
  .span4
    %h3 Other Activity
    -# TODO
    TODO
.row-fluid
  .span4
    %h3 Featured Developers
    - User.featured.each do |user|
      = render user
  .span8
    %h3 Recently Uploaded Apps
    - App.last(10).each do |app|
      = render app
