<h2>Listing Users</h2>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>is_dev</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.is_dev %></td>
    </tr>
  <% end %>
</table>
