= form_for(:user, as: :user, url: session_path(:user), html: {class: "navbar-form pull-right"}) do |f|
  = f.email_field :email, placeholder: "Email", class: "input-medium"
  = f.password_field :password, placeholder: "Password", class: "input-medium"
  = f.submit "Login", class: "btn btn-success"
