%h1= title 'About'

%h2 Overview

%p
  Goodapp is a community of apps and developers.
  This community establishes a web of trust between its members,
  and developers is assigned a rating based on this trust network.
  These ratings gives users valuable information about which developers
  have an established and trusted reputation in the community, and
  which developers should be avoided.

%h2 Metrics

%p
  Goodapp is a software application that scans app binaries, attempts
  to detect malicious activity and creates a web of trust. Each developer
  account comes with a rating. A trusted user's rating will be based
  on the following metrics:
%ul
  %li other trusted developer's reviews of this user
  %li basic user feedback about apps from an untrusted member of the community
  %li
    rating of each app that the user submitted awarded by
    the virus/malware scanners
  %li
    statistics based on how many people use the app and the
    rating of the app itself [e.g. how many downloads recorded from app store]

%h2 Github

%p
  This project is open sourced and
  %a{href: "https://github.com/tjeezy/goodapp"} hosted on Github
  \. Please check the repository to contribute, file bugs, etc.
