<h1>About Goodapp</h1>

<h2>Overview</h2>
<div class="well">
Goodapp is a community of apps and developers. This community establishes a web of trust between its members, and developers is assigned a rating based on this trust network. These ratings gives users valuable information about which developers have an established and trusted reputation in the community, and which developers should be avoided.</div>

<h2>Metrics</h2>
<div class="well"><p>Goodapp is a software application that scans app binaries and attempts to detect malicious activity. Each developer account comes with a rating. A trusted user's rating will be based on the following metrics:</p>
  <ul>
    <li>other trusted user's reviews of this user</li>
    <li>basic user feedback about apps from an untrusted member of the community</li>
    <li>rating of each app that the user submitted awarded by the virus/malware scanners</li>
    <li>tatistics based on how many people use the app and the rating of the app itself [e.g. how many downloads recorded from app store] </li>
  </ul>
</div>

<h2>The Team</h2>
<div class="well">
  <ul>
    <li>Person #1</li>
    <li>Person #2</li>
    <li>Person #3</li>
    <li>Person #4</li>
  </ul>
</div>
