<h1>About GoodApp</h1>

<h2>Overview</h2>
<div class="news-column">
<p>Goodapp is a community of apps and developers. This community establishes a web of trust between its members, and developers is assigned a rating based on this trust network. These ratings gives users valuable information about which developers have an established and trusted reputation in the community, and which developers should be avoided. </p>
</div>

<h2>Metrics</h2>
<div class="news-column">
<p>Goodapp is a software application that scans app binaries, attempts to detect malicious activity and creates a web of trust. Each developer account comes with a rating. A trusted user's rating will be based on the following metrics:</p>
  <ul>
    <li>other trusted developer's reviews of this user</li>
    <li>basic user feedback about apps from an untrusted member of the community</li>
    <li>rating of each app that the user submitted awarded by the virus/malware scanners</li>
    <li>tatistics based on how many people use the app and the rating of the app itself [e.g. how many downloads recorded from app store] </li>
  </ul>
</div>

<h2>The Team</h2>
<div class="news-column">
  <b>Yulia Dubinina &nbsp;&nbsp;&nbsp;&nbsp;TJ Koblentz &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Victor Moreira &nbsp;&nbsp;&nbsp;&nbsp;Jasper Fredrickson </b> <br/> 
    <%= image_tag("head_shot.jpg", :size => "100x100") %> &nbsp;
    <%= image_tag("TJKoblentz.JPG", :size => "88x88") %> &nbsp;
    <%= image_tag("VictorMoreira.jpg", :size => "104x104") %> &nbsp;
    <%= image_tag("jasper.jpeg", :size => "60x60") %> &nbsp;
<br/></br>
<p> Project in collaboration with <b>Microsoft</b> through UCSB CS189A-B Capstone courses. </p>
<a href="/contact">Contact Us</a>
</div>