%h1= title "API"

%table.table.table-bordered.table-striped
  %tr
    %th Path
    %th HTTP Method
    %th Response
  %tr
    %td
      %code /users/:id.json
    %td GET
    %td
      %code {"id":0,"name":"Joe Schmo","rating":98.32}
  %tr
    %td
      %code /apps/:id.json
    %td GET
    %td
      %code {"id":0,"title":"Sudoku","rating":23.45}
