<h1>API (v0.0.1)</h1>

<table class="table">
  <tr>
    <th>Path</th>
    <th>HTTP Method</th>
    <th>Params</th>
    <th>Formats</th>
    <th>Response</th>
  </tr>
  <tr>
    <td><code>/users/:id</code></td>
    <td>GET</td>
    <td></td>
    <td>html,json</td>
    <td>User json object with format: <code>{:id => SOME_ID, :trust_rating => REPUTATION}</code></td>
  </tr>
  <tr>
    <td><code>/apps/:id</code></td>
    <td>GET</td>
    <td></td>
    <td>html,json</td>
    <td>App json object with format: <code>{:id => SOME_ID, :trust => TRUST}</code></td>
  </tr>
</table>
