.row-fluid
  .span8
    - unless user_signed_in?
      #welcome-box.alert.alert-success
        %p.pull-right
          Don't have an account?
          = link_to "Register", new_user_registration_path, class: "btn btn-large btn-primary"
        %h2 Welcome to GoodApp
    #promo-box.clear
      boo
  .span4
    %h3 Other Activity
    -# TODO
    TODO
.row-fluid
  .span4
    %h3 Most Trusted Developers
    - User.most_trusted.each do |user|
      = render user
  .span8
    %h3 Recently Uploaded Apps
    - @recent_apps.each do |app|
      = render app
