<h1>Search Results</h1>

<div class="tabbable tabs-left">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#apps" data-toggle="tab">Apps</a></li>
    <li><a href="#devs" data-toggle="tab">Devs</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="apps">
      <p>stuff</p>
    </div>
    <div class="tab-pane" id="devs">
      <p>stuff</p>
    </div>
  </div>
</div>
