%h1= title "Search Results"

.row
  .span6
    %h2 Apps
    - if @apps.empty?
      %p No apps found by that name.
    - else
      %ul
      - @apps.each do |app|
        %li= render app
  .span6
    %h2 Devs
    - if @users.empty?
      %p No users found by that name.
    - else
      %ul
      - @users.each do |user|
        %li= render user
