%h1= title "Apps"

- if @user.valid_keys.empty?
  %p.alert.alert-warning
    You need to
    = link_to "upload a key", settings_path(anchor: "keys-pane")
    to be able to upload apps.
- else
  = render partial: "apps/form", locals: {user: @user, app: @app}
  - if @user.apps.empty?
    %p.alert.alert-info You have no apps, upload some above.
  - else
    %h2 Recently uploaded by you
    .apps
      - @apps.each do |app|
        = render app
